@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
	font-family: Poppins-Regular, sans-serif;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	font-family: Poppins-Regular !important;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.container-setting100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 25px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-login100-reg {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 20px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-regular;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #6a7dfe;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.login100-form-btn:hover{
  left: 0;
  background: #7983c3;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 20px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.omt-fixed-nav{
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #fff;
}
.navbar-fixed-top {
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}
.form-control:focus{
	border: 1px solid #ccc !important;
}
.align-v-h-center{
	display: flex;
	align-items: center;
	justify-content: center;
}	
.bg-white{
	background: #fff !important;
}
.font-bold{
	font-weight: bold;
}
.f-15{
	font-size: 15px;
}
.p-0{
	padding: 0 !important;
}
.p-10{
	padding: 10px;
}
.p-b-10{
	padding-bottom: 10px;
}
.p-b-20{
	padding-bottom: 20px;
}
.p-t-5{
	padding-top: 5px;
}
.m-5{
	margin: 5px !important;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-100{
	margin-top: 100px;
}


*{
	font-family: 'Poppins', sans-serif;
}
.navbar-fixed-top {
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}
.omt-bg-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.omt-bg-block img{
	width: 100%;
	height: 100%;
}
.omt-center-block{
	position: absolute;
    top: 250px;
    width: 100%;
    right: 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.omt-center-block a{
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #6a7dfe;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.omt-center-block a:hover{
	background: #587cc3;
	color: #fff;
}
.m-r-5{
	margin-right: 5px;
}
.omt-footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #f2f2f2;
	font-size: 13px;
}

/* Level Container */
.level-container{
	padding: 80px;
    position: absolute;
    min-width: 100%;
    height: 100%;
}

@media screen and (max-width: 480px){
	.level-container{
		padding: 80px 30px 30px 30px;
	}
}
.panel-default{
	width: 100%;
}
.panel-heading{
	background: #f8f8f8 !important;
	text-align: center;
	padding: 10px;
}
.panel-body{
	padding: 15px;
}
.level-dropdown{
	position: absolute;
	top: 10px;
    right: 40px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { 
	outline: 0; 
	opacity: 0.6; 
	color: #fff; 
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { 
	outline: 0; 
	opacity: 0.6; 
	background: rgba(0, 0, 0, 0.3); 
	color: #fff; 
}

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	color: #fff; 
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { 
	opacity: 0.8; 
}

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { 
	border-bottom: 1px dotted #fff; 
}

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
}

.form-top-left h3 { 
	margin-top: 0; 
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; 
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

form .form-bottom textarea {
	height: 100px;
}

form .form-bottom button.btn {
	min-width: 105px;
}

form .form-bottom .input-error {
	border-color: #19b9e7;
}

form.registration-form fieldset {
	display: none;
}
@media screen and (max-width: 480px){
	.wrap-login100-reg{
		width: 320px;
	}
	#login {
		margin-left: -161px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { 
		background: #333; 
		background: rgba(51, 51, 51, 0.9); 
	}
	.navbar-brand { 
		height: 60px; margin-left: 15px; 
	}
	.navbar-collapse { 
		border: 0; 
	}
	.navbar-toggle { 
		margin-top: 12px; 
	}
	
	.inner-bg { 
		padding: 40px 0 110px 0; 
	}
	.top-content .top-big-link { 
		margin-top: 25px; 
	}
	.top-content .top-big-link a.btn {
			margin-top: 10px; 
		}
	
	.form-bottom { 
		padding-bottom: 25px;
	}
	form .form-bottom button.btn { 
		margin-bottom: 5px; 
	}
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}
#onclick{
	padding:3px;
	color:green;
	cursor:pointer;
	padding:5px 5px 5px 15px;
	width:70px;
	color:white;
	background-color:#123456;
	box-shadow:1px 1px 5px grey;
	border-radius:3px;
}
#popup{
	padding-top:80px;
}
#logindiv{
	/* opacity:0.92; */
	position: fixed;
	z-index: 1031;
	top: 0px;
	left: 0px;
	min-height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#login{
	position: relative;
}
#login{
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:60px;
}

.close-btn{
	cursor: pointer;
	position: absolute;
    right: 0;
    top: 0;
    font-size: 23px;
}


/* User Level Container */
.user-level-container{
	position: absolute;
    top: 53px;
    left: 250px;
    min-width: 80%;
	padding-left: 0;
}
.level-left-tab li.active > a, 
.level-left-tab li.active > a:hover,
.level-left-tab li.active > a:focus{
	border-radius: 0 !important;
    background: #3366cc;
	color: #fff;
}
.level-left-tab li a{
	border-radius: 0;
    border-bottom: 1px solid #c7c7c7;
}
.level-left-tab li{
	clear: both;
	text-align: left;
}

.level-left-tab{
	position: fixed;
	height: 100%;
	width: 230px;
	border-top: none;
	border-left: none;
	z-index: 1031;
    background: #f8f8f8;
	left: 0;
    top: 50px;
	box-shadow: 5px 0 5px -5px #333;
}

.user-nav-content{
	padding-left:230px;
}
.user-nav-content .tab-pane{
	padding:0 15px;
}

/* Vertical Tab */
/* custom inclusion of right, left and below tabs */

.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;

}

.f-10{
	font-size: 10px;
}
.f-20{
	font-size: 20px;
}
.f-30{
	font-size: 30px;
}
.f-35{
	font-size: 35px;
}

#level0-css-style a {
    color: #777;
    /* border: 1px solid #ccc; */
    padding: 4px 8px;
    margin-bottom: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background: #ccc;
    border-radius: 3px;
	line-height: 2.7;
}
#level0-css-style a:focus {
    color: #fff;
    /* border: 1px solid #ccc; */
    padding: 4px 8px;
    margin-bottom: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ccc;
    border-radius: 3px;
	line-height: 2.7;
	text-decoration: none;
}
#DrawingArea{
	border:1px solid; 
	width:500px; 
	height:200px; 
	margin-top:5px
}
.m-b-0{
	margin-bottom: 0;
}
.m-r-10{
	margin-right: 10px;
}
.user-logout-btn{
	color: #666 !important;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #006699;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #3f86a9;
	color: #fff;
}
#back-to-top.show {
    opacity: 1;
}

.c-white{
	color: #fff;
}
.f-13{
	font-size: 13px;
}
.align-item-center{
	display: flex;
    align-items: center;
    justify-content: center;
}
.align-item-left{
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.align-item-right{
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-red{
	background: red !important;
	color: #fff !important;
}
.btn-green{
	background: green !important;
	color: #fff !important;
}
.btn-blue{
	background: blue !important;
	color: #fff !important;
}
.btn-black{
	background: black !important;
	color: #fff !important;
}