<div th:fragment="footer">
    <div class="footer" style="position: fixed;height: 100px;bottom: 0;width: 100%;">
        <div class="container">
            <div class="footer-grids">
                <div class="clearfix"> </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <p>&copy; 2016 OM Tutor</p>";
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span> </a>


</div>