<div th:fragment="content"  id="div_feed_wrapper">
    <div class="banner">
        <div class="container">
            <div id="inner_container">
                <div>Login to your account</div>
                <div id="login_wrapper">
                    <h3 th:text="${message}"></h3>
                    <form id="form1" name="form1" action="/feedback" th:object="${contactUs}" method="post" >
                        <p>
                            <label for="fb_name">Name: </label>
                            <input type="text" th:field="*{name}" id="fb_name" />
                        </p>
                        <p>
                            <label for="fb_email">Email: </label>
                            <input type="text" th:field="*{email}" id="fb_email" />
                        </p>
                        <p>
                            <label for="fb_phone">Phone: </label>
                            <input type="text" th:field="*{phone}" id="fb_phone" />
                        </p>
                        <p>
                            <label for="fb_type">Feed back related to: </label>
                            <select th:field="*{type}" id="fb_type">
                                <option value="Compliment">Compliment</option>
                                <option value="Navigation">Navigation</option>
                                <option value="Broken Link">Broken Link</option>
                                <option value="Bug in site">Bug in site</option>
                                <option value="Complaint">Complaint</option>
                                <option value="Suggestion">Suggestion</option>
                            </select>
                        </p>
                        <p>
                            <label for="fb_feedback">Feed Back Description</label>
                            <textarea th:field="*{feedback}" id="fb_feedback" cols="45" rows="5"></textarea>
                        </p>
                        <p>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="submit" name="fb_submit" id="fb_submit" value="Submit" />
                        </p>
                        <input type="hidden" name="MM_insert" value="form1" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>