 <div th:fragment="content">
   <div class="banner">
     <div class="container">
       <div id="login_user_info_bar">
         <div id="div_levels">
           <p class="top-para"><a id="cl-0" href="/level0" >Level:  0</a> | <a id="cl-2" href="#" >Level: 1-4</a> | <a id="cl-4" href="#">Level: 5-8</a> | <a id="cl-8" href="#">Level: 9 ></a> </p>
         </div>
       </div>
       <div id="inner_container">
         <!--<div id="div_level0">
           <div id="TabbedPanels1" class="TabbedPanels">
             <ul class="TabbedPanelsTabGroup">
               <li class="TabbedPanelsTab" tabindex="0">Letters/Numbers</li>
               <li class="TabbedPanelsTab" tabindex="0">Art</li>
               <li class="TabbedPanelsTab" tabindex="0">Show Drawings</li>
             </ul>
             <div class="TabbedPanelsContentGroup">
               <div class="TabbedPanelsContent"><?php include('level0_1_body.php'); ?></div>
               <div class="TabbedPanelsContent"><?php include('level0_2_body.php'); ?></div>
               <div class="TabbedPanelsContent"><?php include('level0_3_body.php'); ?></div>
             </div>
           </div>
         </div>
         <div id="div_level2">
           <iframe id="level0" src="https://omtutor.com/mypage1.html"></iframe>
         </div>
         <div id="div_level4">
           <iframe id="level0" src="https://omtutor.com/levels5to8.html">
             <div id="Tab_level14" class="TabbedPanels">
               <ul class="TabbedPanelsTabGroup">
                 <li class="TabbedPanelsTab" tabindex="0">Tab 1</li>
                 <li class="TabbedPanelsTab" tabindex="0">Tab 2</li>
               </ul>
               <div class="TabbedPanelsContentGroup">
                 <div class="TabbedPanelsContent">Content 1</div>
                 <div class="TabbedPanelsContent">Content 2</div>
               </div>
             </div>
           </iframe>
         </div>
         <div id="div_level8">
           <div class="TabbedPanelsContent"><iframe id="level0" src="https://omtutor.com/Math_Editortask/uploadProblem.html"></iframe></div>
         </div>-->
       </div>
     </div>
   </div>
</div>